<nav class="sticky top-0 z-50 glass border-b border-white/5 px-6 py-4">
    <div class="max-w-7xl mx-auto flex justify-between items-center">

        <a routerLink="/" class="group flex items-center gap-2">
            <div
                class="w-8 h-8 bg-[#FF6B35] rounded-lg flex items-center justify-center transform group-hover:rotate-12 transition-transform duration-300">
                <span class="text-white font-black text-sm">G</span>
            </div>
            <span
                class="text-xl font-black tracking-tight text-white group-hover:text-[#FF6B35] transition-colors duration-300">
                GOSPORT
            </span>
        </a>


        <div class="flex items-center gap-1.5">
            <a routerLink="/login" routerLinkActive="text-[#FF6B35] !bg-white/10"
                class="px-4 py-2 rounded-xl text-slate-400 hover:text-white hover:bg-white/5 transition-all duration-300 text-xs font-bold uppercase tracking-widest">
                Connexion
            </a>
            <a routerLink="/signup" routerLinkActive="!bg-[#FF6B35] shadow-[0_0_15px_rgba(255,107,53,0.3)]"
                class="bg-white/10 text-white px-4 py-2 rounded-xl text-xs font-black uppercase tracking-widest hover:bg-[#FF6B35] transition-all duration-300 ml-1">
                S'inscrire
            </a>
        </div>
    </div>
</nav>